<div class="header-container">
    <div class="logo">
        <a href="index.html">
            <img src="images/sheep.png" alt="Logo du Festival du Film de La Paille">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="programme.html">Programme</a></li>
            <li><a href="films.html">Films</a></li>
            <li><a href="billetterie.html">Billetterie</a></li>
            <li><a href="infos.html">Infos Pratiques</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</div>